body,
html {
  background: var(--dark-100, #1F2025);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Urbanist";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Urbanist";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5058823529);
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  z-index: -1;
  opacity: 0;
}

.adaptive-menu {
  display: none;
  border-radius: 0px 20px 20px 0px;
  -webkit-box-shadow: 1px 2px 25px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 2px 25px 3px rgba(0, 0, 0, 0.6);
}

.main-decor {
  position: absolute;
  left: 27%;
  z-index: -1;
  top: 0;
}

.main-decor__tablet {
  display: none;
  z-index: -1;
}

.menu-open body::after {
  opacity: 1;
}

.header {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease 0s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__adaptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__action {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.header__action:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header__line {
  width: 1px;
  height: 20px;
  opacity: 0.200000003;
  background: var(--light-100, #FFF);
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__sign {
  color: var(--light-100, #FFF);
  font-weight: 700;
  line-height: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__sign:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #205BF1;
}

.btn {
  padding: 15px 20px;
  background: var(--blue-100-normal, #205BF1);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(32, 91, 241, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(32, 91, 241, 0.2);
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 24px;
}

.btn:hover {
  background: #FFF;
  color: #205BF1;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-weight: 700;
  line-height: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #205BF1;
}

.icon-menu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-open .icon-menu {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 2rem;
  height: 32px;
}

.adaptive-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.adaptive-menu__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

._header-scroll {
  padding: 20px 0px;
  background-color: rgba(48, 54, 61, 0.6745098039);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
}

._header-show {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.burger-wrapper {
  display: none;
}

.main {
  padding-top: 224px;
  position: relative;
  z-index: 1;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main__title {
  font-size: 78px;
  font-weight: 900;
  max-width: 41.875rem;
  padding-bottom: 30px;
}

.main__text {
  font-size: 20px;
  line-height: 30px;
  max-width: 41.875rem;
  padding-bottom: 60px;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.main__video {
  border: 1px solid var(--light-10, rgba(255, 255, 255, 0.1));
  background: var(--light-10, rgba(255, 255, 255, 0.1));
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.main__video span {
  font-weight: 700;
  line-height: 24px;
}

.main-image__one {
  position: absolute;
  right: 227px;
  top: -8px;
  z-index: -1;
  -webkit-box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
}

.main-image__two {
  position: absolute;
  z-index: -1;
  right: -55px;
  top: 102px;
  -webkit-box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
}

.main-image__three {
  position: absolute;
  right: 325px;
  z-index: -1;
  top: 292px;
  -webkit-box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
}

.main-image__four {
  position: absolute;
  z-index: -1;
  right: -136px;
  bottom: -180px;
  -webkit-box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.4), 8px 8px 0px 0px rgba(31, 32, 37, 0.15), -8px -8px 0px 0px rgba(0, 0, 0, 0.15);
}

.main-images__adaptive {
  display: none;
}

.trust {
  position: relative;
  z-index: 10;
  padding-top: 200px;
  padding-bottom: 200px;
}

.trust__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  /* 150% */
  padding-bottom: 40px;
}

.trust__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.trust__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.trust__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--light-2, rgba(255, 255, 255, 0.02));
  width: 370px;
  height: 102px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.trust__column:hover {
  background: var(--light-2, rgba(255, 255, 255, 0.1));
  gap: 60px;
}

.trust__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.trust-rows-db {
  display: none;
}

.main-images__mobile {
  display: none;
}

.image {
  padding-bottom: 254px;
  position: relative;
}

.image__wrapper {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0px 15px;
}

.image__img {
  -webkit-box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.5), 20px 20px 100px 0px rgba(0, 0, 0, 0.4), -16px -16px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.5), 20px 20px 100px 0px rgba(0, 0, 0, 0.4), -16px -16px 0px 0px rgba(0, 0, 0, 0.5);
}

.image-splash {
  position: absolute;
  left: 0;
  z-index: -1;
  top: 442px;
}

.image-splash-tablet {
  display: none;
}

.image-splash-mobile {
  display: none;
}

.layot {
  padding-bottom: 170px;
}

.layot__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layot__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.layot__subtitle {
  color: var(--light-100, #FFF);
  font-size: 12px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.layot__title {
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  max-width: 35.625rem;
}

.layot__title span {
  color: var(--red-normal, #F12052);
}

.layot__text {
  font-size: 20px;
  line-height: 30px;
  /* 150% */
  max-width: 35.625rem;
}

.analytics {
  padding-bottom: 181px;
}

.analytics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.analytics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}

.analytics__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.analytics__subtitle p {
  font-size: 12px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.analytics__title {
  max-width: 23.125rem;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  /* 127.778% */
}

.analytics__text {
  max-width: 23.125rem;
  line-height: 24px;
}

.analytics__image img {
  -webkit-box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.5), 20px 20px 100px 0px rgba(0, 0, 0, 0.4), -16px -16px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 0.5), 20px 20px 100px 0px rgba(0, 0, 0, 0.4), -16px -16px 0px 0px rgba(0, 0, 0, 0.5);
}

.key {
  padding-bottom: 140px;
}

.key__subtitle {
  font-size: 12px;
  font-weight: 900;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.key__title {
  font-size: 46px;
  font-weight: 900;
  max-width: 35.625rem;
  padding-bottom: 40px;
}

.key__title span {
  color: var(--blue-100-normal, #205BF1);
}

.key__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.key__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.key__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.key__column:hover .key-column__line {
  background-color: #205BF1;
  opacity: 1;
}

.key__column:hover .key-column__title {
  color: #F12052;
}

.key__column:hover .key-column__text {
  opacity: 1;
}

.key-column__line {
  width: 2px;
  height: 137px;
  opacity: 0.1000000015;
  background: var(--light-100, #FFF);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.key-column__line:hover {
  background: var(--blue-100-normal, #205BF1);
}

.key-column__textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.key-column__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.key-column__text {
  line-height: 24px;
  max-width: 25.625rem;
  line-height: 24px;
  opacity: 0.6999999881;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.built {
  margin: 0px 20px;
}

.built__decor {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.built__wrapper {
  position: relative;
  max-width: 84.375rem;
  margin: 0 auto;
  background: var(--light-10, rgba(255, 255, 255, 0.1));
  padding: 140px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.built__title {
  color: var(--light-100, #FFF);
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  max-width: 29.375rem;
  margin: 0 auto;
}

.built__text {
  max-width: 29.375rem;
  color: var(--light-100, #FFF);
  text-align: center;
  line-height: 24px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 40px;
}

.built__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: var(--blue-100-normal, #205BF1);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(32, 91, 241, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(32, 91, 241, 0.2);
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.dots span {
  background: var(--light-100, #FFF);
  width: 8px;
  height: 8px;
  opacity: 0.366666666;
}

.use {
  position: relative;
}

.use__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.use__title {
  font-size: 46px;
  font-weight: 900;
  max-width: 48.75rem;
  margin: 0 auto;
}

.use__title span {
  color: var(--yellow-normal, #E9900C);
}

.use__text {
  max-width: 48.75rem;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 272px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}

.use__image {
  position: absolute;
  bottom: -272px;
  border: 1px solid var(--dark-5, rgba(31, 32, 37, 0.05));
}

.mt268 {
  padding-top: 17.5rem;
  background-color: #fff;
  margin: 0;
  padding-bottom: 140px;
}

.mt268 span {
  background-color: #E9E9E9;
}

.white-bg {
  background-color: #fff;
}

.read {
  background-color: #fff;
  padding-bottom: 270px;
}

.read__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}

.read__title h3 {
  color: var(--dark-100, #1F2025);
  font-size: 46px;
  font-weight: 900;
}

.read__link {
  color: var(--blue-100-normal, #205BF1);
  font-weight: 700;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.read__column {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.read__column:hover .read__image img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.read__column:hover .read__name {
  gap: 20px;
}

.read__column:hover .read__name img {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.read__image {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.read__image img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.read__image:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.read__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
  gap: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read__name img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.read__name span {
  color: var(--dark-100, #1F2025);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.read__subtitle {
  color: var(--dark-100, #1F2025);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  /* 128.571% */
  padding-bottom: 20px;
  max-width: 23.125rem;
}

.read__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.read__btn span {
  color: var(--blue-100-normal, #205BF1);
  font-weight: 700;
  line-height: 24px;
}

.read__btn:hover {
  gap: 20px;
}

@media (min-width: 75em) {
  .header {
    padding-top: 2.5625rem;
  }

  .header {
    padding-bottom: 2.5625rem;
  }

  .header__main {
    gap: 3.125rem;
  }

  .header__adaptive {
    gap: 2.5rem;
  }

  .header__actions {
    gap: 1.5625rem;
  }

  .header__btns {
    gap: 2.5rem;
  }

  .menu__list {
    gap: 2.5rem;
  }

  .dots {
    margin-top: 8.75rem;
  }

  .dots {
    margin-bottom: 8.75rem;
  }
}

@media (max-width: 48em) {
  .main-decor {
    display: none;
  }

  .main-decor__tablet {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .main-images__adaptive {
    display: block;
    position: absolute;
    bottom: -570px;
  }

  .main {
    padding-top: 174px;
    padding-bottom: 540px;
  }

  .main__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }

  .main__title {
    text-align: center;
    margin: 0 auto;
  }

  .main__text {
    text-align: center;
    padding-bottom: 50px;
  }

  .main__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .image-splash {
    display: none;
  }

  .image-splash-tablet {
    display: block;
    position: absolute;
    z-index: -1;
    top: 52px;
  }

  .layot {
    padding-bottom: 120px;
  }

  .layot__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 30px;
  }

  .use__text {
    padding-bottom: 150px;
    max-width: 708px;
  }

  .use__image {
    width: 708px;
    margin: 0 auto;
    bottom: -202px;
  }

  .use__image img {
    width: 708px;
  }
}

@media (max-width: 48em) and (max-width: 23.4375em) {
  .main-images__adaptive {
    display: none;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__main {
    gap: 0.625rem;
  }

  .header__adaptive {
    gap: 0.9375rem;
  }

  .header__actions {
    gap: 0.9375rem;
  }

  .header__btns {
    gap: 0.9375rem;
  }

  .menu__list {
    gap: 0.9375rem;
  }

  .dots {
    margin-top: 2.5rem;
  }

  .dots {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 82.5em) {
  .image__img {
    width: 100%;
  }
}

@media (max-width: 71.5625em) {
  .read__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 50px;
  }
}

@media (max-width: 68.125em) {
  .analytics__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }

  .analytics__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .analytics__image {
    width: 100%;
  }

  .analytics__image img {
    width: 100%;
  }
}

@media (max-width: 64.0625em) {
  .header__action {
    position: absolute;
    left: 80px;
    top: 33px;
  }

  .menu__item {
    list-style: none;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__adaptive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__line {
    display: none;
  }

  .header__sign {
    font-size: 22px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 1000;
  }
}

@media (max-width: 64.0625em) and (max-width: 64.0625em) {
  .adaptive-menu {
    padding-top: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px 20px;
    position: fixed;
    width: 30%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #30363d;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-open .adaptive-menu {
    left: 0;
  }
}

@media (max-width: 64.0625em) and (max-width: 53.4375em) {
  .adaptive-menu {
    width: 40%;
  }
}

@media (max-width: 64.0625em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 61.5625em) {
  .burger-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
    border: 1px solid #30363d;
    background-color: rgba(22, 23, 27, 0.5568627451);
    width: 3.125rem;
    height: 3.125rem;
    z-index: 10;
  }
}

@media (max-width: 61.99875em) {
  .main-image__one {
    display: none;
  }

  .main-image__two {
    display: none;
  }

  .main-image__three {
    display: none;
  }

  .main-image__four {
    display: none;
  }

  .key__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 50px;
  }

  .key__image {
    width: 100%;
  }

  .key__image img {
    width: 100%;
  }

  .use__title {
    max-width: 44.25rem;
  }
}

@media (max-width: 41.25em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 40.625em) {
  .use__image {
    display: none;
  }

  .mt268 {
    padding-top: 140px;
  }
}

@media (max-width: 37.5em) {
  .trust-rows-dn {
    display: none;
  }

  .trust-rows-db {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 26.5625em) {
  .adaptive-menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0px;
  }

  .adaptive-menu {
    width: 100%;
  }
}

@media (max-width: 23.4375em) {
  .menu {
    gap: 0px;
  }

  .main__container {
    padding-bottom: 350px;
  }

  .main__title {
    font-size: 3.125rem;
    max-width: 20.9375rem;
  }

  .main__text {
    max-width: 22.1875rem;
  }

  .main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__video {
    border: 1px solid var(--light-10, rgba(255, 255, 255, 0.1));
    background: var(--light-10, rgba(255, 255, 255, 0.1));
  }

  .main__video img {
    display: none;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-decor__tablet {
    display: none;
  }

  .main {
    padding-bottom: 0px;
  }

  .trust {
    padding-top: 0;
  }

  .main-images__mobile {
    display: block;
    position: absolute;
    top: 450px;
    z-index: -1;
  }

  .image-splash-tablet {
    display: none;
  }

  .image-splash-mobile {
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
    top: -19px;
  }

  .layot {
    padding-bottom: 60px;
  }

  .built {
    margin: 0px 10px;
  }

  .built__decor {
    width: 140px;
  }

  .built__wrapper {
    padding: 60px 10px;
  }

  .built__title {
    font-size: 28px;
    max-width: 18.4375rem;
  }

  .built__text {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media (max-width: 21.875em) {
  .trust__image {
    width: 30px;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (padding-top: clamp( 1.25rem , 0.7727272727rem  +  2.3863636364vw , 2.5625rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.7727272727rem  +  2.3863636364vw , 2.5625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7727272727rem  +  2.3863636364vw , 2.5625rem )) {
    .header {
      padding-top: calc(1.25rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7727272727rem  +  2.3863636364vw , 2.5625rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.7727272727rem  +  2.3863636364vw , 2.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7727272727rem  +  2.3863636364vw , 2.5625rem )) {
    .header {
      padding-bottom: calc(1.25rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) {
    .header__main {
      gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.2840909091rem  +  4.5454545455vw , 3.125rem )) {
    .header__main {
      gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .header__adaptive {
      gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .header__adaptive {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem )) {
    .header__actions {
      gap: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.7102272727rem  +  1.1363636364vw , 1.5625rem )) {
    .header__actions {
      gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .header__btns {
      gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .header__btns {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .menu__list {
      gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .menu__list {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 2.5rem , 0.2272727273rem  +  11.3636363636vw , 8.75rem )) {
    .dots {
      margin-top: clamp( 2.5rem , 0.2272727273rem  +  11.3636363636vw , 8.75rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 0.2272727273rem  +  11.3636363636vw , 8.75rem )) {
    .dots {
      margin-top: calc(2.5rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 0.2272727273rem  +  11.3636363636vw , 8.75rem )) {
    .dots {
      margin-bottom: clamp( 2.5rem , 0.2272727273rem  +  11.3636363636vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.2272727273rem  +  11.3636363636vw , 8.75rem )) {
    .dots {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 55);
    }
}
}